
/* 全局 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/public/1.jpeg'); /* 更改为您的图片路径 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Header.css */
/* 设置header样式，确保它永远固定在顶部 */
.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px; /* 例如，将 header 的高度设为 70px */
    background-color: #AA2525;
    color: white;
    z-index: 1000;
    line-height: 70px;  /* 让标题垂直居中 */
    text-align: center;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}
.Header ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.Header li a {
    padding: 0.5rem 1rem;
    background-color: black;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* 移除链接的下划线 */
}
.Header li a:hover {
    background-color: #A6ACAF ;
    text-decoration: none; /* 移除链接的下划线 */
}

/* App.css */
/* 为整个应用设置基本样式 */
.App {
    padding-top: 80px;  /* 留出比 header 更大的空间 */
    padding-bottom: 60px;  /* 留出比 footer 更大的空间 */
    font-family: Arial, sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
}

/* 设置页面的主要内容部分，确保它在固定的header和footer之间 */
.routes {
    margin-top: 100px;  /* 为固定的header留出空间 */
    margin-bottom: 100px;  /* 为固定的footer留出空间 */
    padding: 1rem;
}

/* Home*/
.Home {
    padding: 1rem; /* 提供一些内部空间 */
}
.Home .no-results {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #777;
    text-align: center;
}

/* NavSearch.css */
.Nav {
    display: flex;
    justify-content: space-between; /* 两端对齐的效果 */
    align-items: center;
    padding: 1rem 2rem;
    background-color: #DABBBB;
    border: 1px solid black; /* 为导航栏添加下边框 */
}
.searchForm {
    display: flex;
    align-items: center;
}
.searchForm label,
.searchForm select,
.searchForm input,
.searchForm button {
    margin-right: 1rem;
}
.searchForm select,
.searchForm input {
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.searchForm button {
    padding: 0.5rem 1rem;
    background-color: #A95B56;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.searchForm button:hover {
    background-color: #C70039;
}
.Nav span {
    font-size: 0.9rem;
    color: #ff0000;
}
@keyframes rotating {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loading-image {
    animation: rotating 1s linear infinite; /* 旋转动画 */
    width: 35px; /* 你可以根据需要调整大小 */
    height: 35px;
    display: inline-block;
}

/* SearchResultsCard.css */
.searchResultsCard {
    display: flex;
    flex-direction: column;  /* 垂直排列子元素 */
    align-items: center;     /* 子元素水平居中 */
    width: 80%;              /* 根据需要调整 */
    margin: 0 auto;          /* 水平居中卡片 */
    padding: 20px;           /* 根据需要调整，为卡片添加内部空间 */
}
.searchResultsCard a {
    color: inherit;          /* 使链接的颜色与其容器的颜色相同，或选择您喜欢的颜色 */
    width: 100%;             /* 使链接的宽度与卡片相同 */
    display: flex;
    flex-direction: column;
    align-items: center;     /* 使链接内容居中 */
    text-decoration: none
}
.searchResultsCard h2 {
    text-decoration: underline  /* 移除下划线 */
}
.searchResultsCard h2,
.searchResultsCard .year,
.searchResultsCard .place {
    align-self: flex-start;  /* 使文字元素靠左对齐 */
    margin: 10px 0;          /* 根据需要调整，为文字元素添加一些垂直间距 */
}
.searchResultsCard .image {
    width: 700px;           /* 根据需要设置 */
    height: 500px;          /* 根据需要设置 */
    object-fit: cover;      /* 图片将被裁剪并填充其容器，保持其原始的宽高比 */
}

/* ArtworkPages.css
/* 使整个页面内容在垂直方向上居中 */
.ArtworkPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px); /* 减去 header 的高度 */
    padding: 20px;
    padding-top: 100px; /* 为了确保内容在按钮下方 */
}
/* 调整艺术品信息的样式 */
.ArtworkPage .artworkInfo {
    text-align: left;
    max-width: 800px;
    width: 100%;
}
/* 设定图片样式 */
.ArtworkPage .artworkInfo img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
/* 调整按钮样式 */
.ArtworkPage button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #A04000 ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 为按钮添加悬停效果 */
.ArtworkPage button:hover {
    background-color: #F1C40F;
}
/* 将前后按钮放到页面顶部并设置明确的左右位置 */
.ArtworkPage button {
    position: absolute;
    top: 90px;
}
.ArtworkPage .previous {
    left:15%;
}
.ArtworkPage .next {
    right: 15%;
}

/* GalleryResultsCard.css */
.GalleryResultsCard {
    display: flex;
    flex-direction: column;  /* 垂直排列子元素 */
    align-items: center;     /* 子元素水平居中 */
    width: 80%;              /* 根据需要调整 */
    margin: 0 auto;          /* 水平居中卡片 */
    padding: 20px;           /* 根据需要调整，为卡片添加内部空间 */
}
.GalleryResultsCard a {
    color: inherit;          /* 使链接的颜色与其容器的颜色相同，或选择您喜欢的颜色 */
    width: 100%;             /* 使链接的宽度与卡片相同 */
    display: flex;
    flex-direction: column;
    align-items: center;     /* 使链接内容居中 */
    text-decoration: none
}
.GalleryResultsCard h3 {
    text-decoration: underline  /* 移除下划线 */
}
.GalleryResultsCard h3,
.GalleryResultsCard .year,
.GalleryResultsCard .place {
    align-self: flex-start;  /* 使文字元素靠左对齐 */
    margin: 10px 0;          /* 根据需要调整，为文字元素添加一些垂直间距 */
}
.GalleryResultsCard .image {
    width: 310px;           /* 根据需要设置 */
    height: 215px;          /* 根据需要设置 */
    object-fit: cover;      /* 图片将被裁剪并填充其容器，保持其原始的宽高比 */
}

/* GalleryDetails.css
/* 使整个页面内容在垂直方向上居中 */
.GalleryDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px); /* 减去 header 的高度 */
    padding: 20px;
    padding-top: 100px; /* 为了确保内容在按钮下方 */
}
/* 调整艺术品信息的样式 */
.GalleryDetail .GalleryDetailsInfo {
    text-align: left;
    max-width: 800px;
    width: 100%;
}
/* 设定图片样式 */
.GalleryDetail .GalleryDetailsInfo img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
}
/* 调整按钮样式 */
.GalleryDetail button {
    padding: 15px 30px;
    margin: 10px;
    background-color: #A04000 ;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
/* 为按钮添加悬停效果 */
.GalleryDetail button:hover {
    background-color: #F1C40F;
}
/* 将前后按钮放到页面顶部并设置明确的左右位置 */
.GalleryDetail button {
    position: absolute;
    top: 90px;
}
.GalleryDetail .previous {
    left:15%;
}
.GalleryDetail .next {
    right: 15%;
}

/* GalleryArtwork.css */
.filters-container {
    display: flex;
    flex-direction: column; /* 子元素垂直堆叠 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    background-color: #DABBBB;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}
.center-text {
    text-align: center;
    /* 如果你还希望它在整个容器中垂直居中，你可以使用以下方式: */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 或者其他你想要的高度 */
}

/* ArtworkGrid.css */
.artwork-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

/* Footer.css */
.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* 例如，将 footer 的高度设为 50px */
    background-color: #AA2525;
    color: white;
    z-index: 1000;
    line-height: 50px;  /* 使内容垂直居中 */
    text-align: center;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
}

/* 当分辨率为 1024x768 时 */
@media screen and (width: 1024px) and (height: 768px) {
    .GalleryResultsCard .image {
        /* 这里输入针对 1024x768 分辨率的特定样式 */
        width: 200px;
        height: 100px;
    }
}

